body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:80%;
    margin:auto;
    text-align:center;
}

input{
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:blue;
    color:white;
    border:none;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
    background:white;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
}

th{
    background:blue;
    color:white;
}